<h2 *ngIf="data.edit" class="title">Edit {{data.process.name}}</h2>
<h2 *ngIf="!data.edit" class="title"> Add a New Process </h2>

<div [formGroup]="group">
  <div class="box-container">
    <mat-form-field appearance="fill" class="box">
      <mat-label>Name</mat-label>
      <input matInput placeholder="Name" formControlName="name" required>
      <!-- <mat-error *ngIf="group.get('name')?.hasError('required')">
        Can't be blank </mat-error> -->
    </mat-form-field>
    <mat-form-field appearance="fill" class="box">
      <mat-label>Commande</mat-label>
      <input matInput placeholder="Commande" formControlName="command" required>
      <!-- <mat-error *ngIf="group.get('name')?.hasError('required')">
        Can't be blank </mat-error> -->
    </mat-form-field>
    <mat-form-field appearance="fill" class="box">
      <mat-label>Nombre d'instance</mat-label>
      <input matInput placeholder="nbInstance" formControlName="nbInstance" required>
      <!-- <mat-error *ngIf="group.get('name')?.hasError('required')">
        Can't be blank </mat-error> -->
    </mat-form-field>
    <mat-slide-toggle required color="accent" formControlName="startAtLaunch">
      Start at launch
    </mat-slide-toggle>
    <mat-form-field>
      <mat-label>Type de redemarrage</mat-label>
      <mat-select formControlName='restartType'>
        <mat-option [value]="contentType" *ngFor="let contentType of restartValue()">
          {{contentType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="box">
      <mat-label>Code de Sortie Attendu</mat-label>
      <input matInput placeholder="expectedExitCode" formControlName="expectedExitCode" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="box">
      <mat-label>Temps de demarrage</mat-label>
      <input matInput placeholder="startupTime" formControlName="startupTime" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="box">
      <mat-label>Nombre de tentavide de redemarrage</mat-label>
      <input matInput placeholder="restartRetryCount" formControlName="restartRetryCount" required>
    </mat-form-field>
    <mat-form-field>
      <mat-label>Signal de sortie</mat-label>
      <mat-select formControlName='exitSignal'>
        <mat-option [value]="contentType" *ngFor="let contentType of exitSignals()">
          {{contentType}}
        </mat-option>
      </mat-select>
    </mat-form-field>
    <mat-form-field appearance="fill" class="box">
      <mat-label>Temps d'arret</mat-label>
      <input matInput placeholder="gracefulStopTime" formControlName="gracefulStopTime" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="box">
      <mat-label>Umask</mat-label>
      <input matInput placeholder="umask" formControlName="umask" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="box">
      <mat-label>Chemin du fichier de la sortie standard</mat-label>
      <input matInput placeholder="stdout" formControlName="stdout" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="box">
      <mat-label>Chemin du fichier de la sortie d'erreur</mat-label>
      <input matInput placeholder="stderr" formControlName="stderr" required>
    </mat-form-field>
    <mat-form-field appearance="fill" class="box">
      <mat-label>Repertoire de travail courant </mat-label>
      <input matInput placeholder="workingdir" formControlName="workingdir" required>
    </mat-form-field>
    <div formArrayName="environement">
      <div class="env-title">
        <h1>Environement</h1>
        <button mat-mini-fab color="primary" (click)="addEnvForm()">
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <app-form-env *ngFor="let env of formEnvironement.controls; let i = index" [group]="env"
                    (delete)="deleteEnvForm(i)"></app-form-env>
    </div>
  </div>
  <mat-card-footer>
    <button mat-raised-button mat-dialog-close class="cancel">Cancel</button>
    <button mat-raised-button mat-dialog-close class="next" color="primary" [disabled]="!group.valid"
            (click)="getReturnData()">Save
    </button>
  </mat-card-footer>
</div>
