<div class="container">
<div class="card-container" *ngIf="processes.length > 0; else spinner">
  <div class="grid-card" *ngFor="let process of processes">
<mat-card class="card" [routerLink]="['details']" >
  <mat-card-header>
    <div class="card-header-title">
    <mat-card-title>Processus</mat-card-title>
    <mat-card-subtitle>Détails du processus</mat-card-subtitle>
  </div>
  </mat-card-header>
  <mat-card-content [routerLink]="['/details']">
    <ul>
      <li><strong>Nom :</strong>  {{process.name}} </li>
      <li><strong>Nombre d'instances :</strong>  {{process.nbInstance}} </li>
      <li><strong>Démarrer au lancement :</strong>  {{process.startAtLaunch ? 'Oui' : 'Non'}}</li>
      <li><strong>Type de redémarrage :</strong>  {{process.restartType}}</li>
      <li><strong>Code de sortie attendu :</strong>  {{process.expectedExitCode}}</li>
      <li><strong>Temps de démarrage :</strong>  {{process.startupTime}} ms</li>
      <li><strong>Nombre de tentatives de redémarrage :</strong>  {{process.restartRetryCount}}</li>
      <li><strong>Signal de sortie :</strong>  {{process.exitSignal }}</li>
      <li><strong>Temps d'arrêt en douceur :</strong>  {{process.gracefulStopTime}} ms</li>
      <li><strong>Environnement :</strong> {{process.environement}}</li>
    </ul>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button color="primary" (click)="editProcess(process)">Modifier</button>
    <button mat-raised-button color="warn" (click)="deleteProcess(process)">Supprimer</button>
  </mat-card-footer>
</mat-card>
</div>
<div class="grid-card">
<mat-card class="card"> 
  <button mat-fab color="accent" aria-label="Example icon button with a home icon">
    <mat-icon>add</mat-icon>
  </button>
  
  </mat-card>
</div>
</div>
<ng-template #spinner >
  <div class="center-spinner">
  <mat-spinner color="accent" ></mat-spinner>
</div>
</ng-template>
</div>