<div class="container">
<div class="card-container" *ngIf="processes.length > 0; else spinner">
  <div class="grid-card" *ngFor="let process of processes">
<mat-card class="card" [routerLink]="['/details/' + process.name]" >
  <mat-card-header>
    <div class="card-header-title">
    <mat-card-title>{{process.name}}</mat-card-title>
    <mat-card-subtitle>Détails du processus</mat-card-subtitle>
  </div>
  </mat-card-header>
  <mat-card-content>
    <ul>
      <li>Nombre d'instances :  {{process.nbInstance}} </li>
      <li>Commande de lancement :  {{process.command}} </li>
      <li>Démarrer au lancement :  {{process.startAtLaunch ? 'Oui' : 'Non'}}</li>
      <li>Type de redémarrage :  {{process.restartType}}</li>
      <li>Code de sortie attendu :  {{process.expectedExitCode}}</li>
      <li>Temps de démarrage :  {{process.startupTime}} s</li>
      <li>Nombre de tentatives de redémarrage :  {{process.restartRetryCount}}</li>
      <li>Signal de sortie :  {{process.exitSignal }}</li>
      <li>Temps d'arrêt en douceur :  {{process.gracefulStopTime}} s</li>
      <li>Environnement : {{process.environement}}</li>
      <li>Chemin du fichier de la sortie standard : {{process.stdout}} </li>
      <li>Chemin du fichier de la sortie d'erreur : {{process.stderr}} </li>
      <li>Repertoire de travail courant : {{process.workingdir}} </li>
    </ul>
  </mat-card-content>
  <mat-card-footer>
    <button mat-raised-button color="primary" (click)="$event.stopPropagation(); editProcess(process)">Modifier</button>
    <button mat-raised-button color="warn" (click)="$event.stopPropagation(); deleteProcess(process)">Supprimer</button>
  </mat-card-footer>
</mat-card>
</div>
<div class="grid-card">
<mat-card class="card">
  <button mat-fab color="accent" aria-label="Example icon button with a home icon" (click)="$event.stopPropagation(); addProcess()">
    <mat-icon>add</mat-icon>
  </button>

  </mat-card>
</div>
</div>
<ng-template #spinner >
  <div class="center-spinner">
  <mat-spinner color="accent" ></mat-spinner>
</div>
</ng-template>
</div>
